<h1 id="main-header">about</h1>
<hr>
<div class="story-content-outer">
  <h2>who we are</h2>
  <p>We are the literary magazine of Fairview High School. We provide a platform to showcase student writing, artwork, and photography.</p>
  <h2>editorial policy</h2>
  <p> &mdash; We publish student writing and art of all kinds.</p>
  <p> &mdash; We publish work anonymously if requested.</p>
  <p> &mdash; We will not publish anything that endorses violence, against oneself or others, of any kind.</p>
  <p> &mdash; Please do not submit excerpts of larger pieces that do not make sense on their own.</p>
  <br>
  <p>go back home <%= link_to "with this link.", root_path %></p>
</div>
