<%= image_tag "logo-thin.png", class: "landing-logo" %>
<hr>
<h4>featured works</h4>
<div id="featured-outer">
  <% @featured_stories.each do |story| %>
    <div class="featured-section-outer story-outer-div">
      <div class="section-header">
        <h1><%= story.section.name %></h1>
        <%= link_to "view all >>", "sections/#{story.section.id}", class: "view-all" %>
      </div>
      <a class="story-outer-link admin-<%= current_user ? 'true' : 'false' %>" href="/stories/<%= story.id %>">
        <div class="story-prev">
          <h4><%= story.anonymous ? "Anonymous" : story.author %><span class="genre"> | <%= story.genre %></span></h4>
          <h2 class="prev-bottom"><%= story.title %></h2>
          <% if story.section.name == 'art' %>
            <% if story.images.any? %>
              <%= image_tag story.images.first.image.url, class: "story-prev-img featured-img" %>
            <% else %>
              <%= image_tag story.content.html_safe.match(/\<img.+src=\"(\S+)\".+\>/)[1], class: "story-prev-img featured-img" %>
            <% end %>
          <% else %>
            <% if story.content.length > 100 %>
              <p><%= strip_tags(story.content[0..100]) %>...</p>
            <% else %>
              <p><%= strip_tags(story.content) %></p>
            <% end %>
          <% end %>
        </div>
      </a>
    </div>
  <% end %>
</div>
