<h1 id="main-header">image uploading</h1>
<hr>
<div class="story-content-outer" id="non-story-content">
  <h2>uploading the image</h2>
  <p>For adding an image into your story, we recommend using <%= link_to "Dropbox", "http://dropbox.com" %>, as BVSD unfortunately blocks many other image uploading websites.</p>
  <p>Once the image is uploaded, click on the "Share" button on the top right, create a new link for the image, and copy it.</p>
  <%= image_tag "upload-guide/dropbox-2.png" %>
  <h2>adding the image</h2>
  <p>Click on the image icon in the content box and paste the URL you just copied into the appropriate box.</p>
  <%= image_tag "upload-guide/insert-1.png" %>
  <p>Go to the end of the URL and change "dl=0" to "raw=1". If you do not follow this step your photo will not appear. Also, change the first number in the dimensions section to be "1280" so the image doesn't take too long to load for readers.</p>
  <%= image_tag "upload-guide/insert-2.png" %>
  <p>Once the image is actually placed into the textbox, it will appear very large. Be sure not to resize it, as it won't as large when published. You can add text above and below images, along with adding any additional images.</p>
  <%= image_tag "upload-guide/insert-3.png" %>
  <h2 id="gallery-checkbox">gallery checkbox</h2>
  <p>If the "use gallery layout" checkbox is checked, your submission will have each images appear as thumbnails that can be clicked on to enlarge them.</p>
  <%= image_tag "upload-guide/gallery.png" %>
  <p>If the box is unchecked, your submission's photos will have a width of the entire page. This option is better for submissions with one to three photos.</p>
  <%= image_tag "upload-guide/no-gallery.png" %>
</div>
