<h1 id="main-header">log in</h1>
<hr>

<%= form_for(:session, url: login_path) do |f| %>
    <div class="form-outer">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="actions">
        <%= f.submit "log in", class: "button" %>
      </div>
    </div>
<% end %>
