<%= form_for(user) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2>There were <%= pluralize(user.errors.count, "error") %> with this form.</h2>
          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %>.</li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-outer">
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= f.submit class: "button" %> or <%= link_to 'go back', users_path, style: 'font-size: 18px' %>
      </div>
    </div>
<% end %>
