<h1 id="large-header">Users</h1>
<hr>

<div class="content">
  <table class="users-table">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Approved</th>
      <th colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr id="<%= "user-#{user.id}" %>">
          <td id="<%= "user-#{user.id}-email" %>"><%= user.email %></td>
          <td id="<%= "user-#{user.id}-name" %>"><%= user.name %></td>
          <td id="<%= "user-#{user.id}-approved" %>"><%= user.approved ? "true" : "false" %></td>
          <td><%= link_to 'Show', user, class: 'button' %></td>
          <td><%= link_to 'Edit', edit_user_path(user), class: 'button' %></td>
          <% if  current_user.approved %>
              <td>
                <% if !user.approved %>
                    <%= link_to('Approve', approve_path(user), method: :put, data: { confirm: 'Are you sure?' }, class: 'button') %>
                <% else %>
                    <%= link_to('Unapprove', approve_path(user), method: :put, data: { confirm: 'Are you sure?' }, class: 'button') %>
                <% end %>
              </td>
          <% end %>
          <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', signup_path, class: 'button' %>
</div>
