<h1 id="large-header"><%= @user.name %></h1>
<hr>

<div class="content">
  <p>
    <strong>Email</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Name</strong>
    <%= @user.name %>
  </p>

  <p style="margin-bottom: 20px;">
    <strong>Approved</strong>
    <%= @user.approved ? "true" : "false" %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: "button" %>
  <%= link_to 'Back', users_path, class: "button" %>
</div>
