<h1 id="main-header"><%= @section.name %></h1>
<hr>
<div id="section-outer">
  <% @stories.reverse.each do |story| %>
    <div class="story-outer-div admin-<%= current_user ? 'true' : 'false' %>">
      <a class="story-outer-link admin-<%= current_user ? 'true' : 'false' %>" href="/stories/<%= story.slug %>">
        <div class="story-prev section-<%= story.section.name %> <%= "not-approved" if !story.story_approved %>">
          <h4><%= story.anonymous ? "Anonymous" : story.author %><span class="genre"> | <%= story.genre %></span></h4>
          <h2 class="prev-bottom"><%= story.title %></h2>
          <% if @section.name == 'art' %>
            <% if story.images.any? %>
              <%= image_tag story.images.first.image.url, class: "story-prev-img" %>
            <% else %>
              <%= image_tag story.content.html_safe.match(/\<img.+src=\"(\S+)\".+\>/)[1], class: "story-prev-img" %>
            <% end %>
          <% else %>
            <% if story.content.length > 100 %>
              <p><%= strip_tags(story.content[0..100]) %>...</p>
            <% else %>
              <p><%= strip_tags(story.content) %></p>
            <% end %>
          <% end %>
        </div>
      </a>
      <% if logged_in? %>
        <div class="admin-box-outer">
          <%= link_to "Edit", edit_story_path(story), class: "button" %>
          <%= link_to "Delete", story, method: :delete, data:
                                          {confirm: "Are you sure you want to delete #{story.title}? This action is not undoable."}, class: "button" %>
          <%= link_to "Feature", feature_path(story), method: :patch, data:
                                          {confirm: "Are you sure you want to feature #{story.title}? This will remove the currently featured story."}, class: "button" %>
          <% if !story.story_approved %>
            <%= link_to "Approve", story_approve_path(story), method: :patch, data:
                                            {confirm: "Are you sure you want to approve #{story.title}?"}, class: "button" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
