<h1 id="main-header">edit <%= @story.title %></h1>
<hr>

<%= form_for(@story) do |f| %>
    <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2>There were <%= pluralize(@story.errors.count, "error") %> with this form.</h2>
          <ul>
            <% @story.errors.full_messages.each do |message| %>
                <li><%= message %>.</li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-outer">
      <div class="field">
        <%= f.label :section_id, "Section type" %>
        <%= f.select(:section_id, options_for_select([["Short Stories", 1], ["Poetry", 2], ["Art", 3]], @story.section_id)) %>
      </div>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, maxlength: 200 %>
        <p class="sublabel">Editing the title will not change the url.</p>
      </div>

      <div class="field">
        <%= f.label :author %>
        <%= f.text_field :author, maxlength: 100 %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, maxlength: 255 %>
      </div>

      <div class="field">
        <%= f.label :anonymous, "Keep story anonymous" %>
        <%= f.check_box :anonymous, class: "pretty-checkbox" %>
      </div>

      <div class="field">
        <%= f.label :genre %>
        <%= f.text_field :genre, maxlength: 100 %>
      </div>

      <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content, class: "tinymce" %>
        <%= tinymce %>
        <p class="sublabel" style="margin-top: 0.2em !important">Use <%= link_to "this guide", uploading_path, target: "_blank" %> for adding any images.</p>
      </div>

      <!-- <div class="field art-field hidden">
        <%= f.label :images, "Upload images", class: "file-upload button" %>
        <%= f.file_field(:images, multiple: true, accept:'image/*', class: " file-button") %>
      </div> -->

      <div class="field">
        <%= f.label :gallery_layout, "Use gallery layout" %>
        <%= f.check_box :gallery_layout, class: "pretty-checkbox" %>
        <p class="sublabel">If this checkbox isn't marked, any images in your story will take up the entire width of the screen.</p>
        <p class="sublabel">If it is marked, please be sure your images are high resolution (width should be 1000px or more).</p>
      </div>

      <div class="field">
        <%= f.label :comments %>
        <%= f.text_area :comments, class: "comments" %>
      </div>

      <% if current_user %>

        <div class="field">
          <%= f.label :story_approved, "Approved?" %>
          <%= f.check_box :story_approved, class: "pretty-checkbox" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Update story", class: "button" %>
      </div>
    </div>
<% end %>


<aside>All submissions will not publicly appear until they are approved.</aside>
