<% if logged_in? %>
  <div class="admin-box-outer" style="transform: translateY(1em);">
    <h1>Admin Box</h1>
    <p style="font-weight: 100; font-size: 0.8em">This section is not visible to normal users.</p>
    <p><span>Full name:</span> <%= @story.author %></p>
    <p><span>Email:</span> <%= @story.email %></p>
    <p><span>Comments:</span> <%= @story.comments %></p>
    <p>This story is currently <strong><%= @story.story_approved ? "approved" : "not approved" %></strong>.</p>
    <%= link_to "Edit this story", edit_story_path(@story), class: "button" %>
    <%= link_to "Delete this story", @story, method: :delete, data:
                                    {confirm: "Are you sure you want to delete #{@story.title}? This action is not undoable."}, class: "button" %>
    <%= link_to "Feature", feature_path(@story), method: :patch, data:
                                    {confirm: "Are you sure you want to feature #{@story.title}? This will remove the currently featured story."}, class: "button" %>
    <% if !@story.story_approved %>
      <%= link_to "Approve", story_approve_path(@story), method: :patch, data:
                                      {confirm: "Are you sure you want to approve #{@story.title}?"}, class: "button" %>
    <% end %>
  </div>
<% end %>
<div class="story-content-outer content-<%= @story.section.name.split(" ")[0] %>">
  <div class="story-header header-<%= @story.section.name.split(" ")[0] %>">
    <h1 class="story-title hidden"><%= @story.title %></h1>
    <h3 class="story-title hidden">by <%= @story.anonymous ? "Anonymous" : @story.author %><%= link_to "<< back to #{@story.section.name}", @story.section%></h3>
    <!-- <%= link_to "<<a #{@story.section.name}", @story.section, class: "back-link" %> -->
  </div>
  <hr>
  <% if @story.story_approved == false %>
    <h2 style="margin: 0 !important">This story is currently <span style="font-weight: 900; text-decoration: underline">not</span> approved.</h2>
    <p style="margin: 0 !important">This story was submitted into the <span style="font-weight: 900"><%= @story.section.name %></span> section. If you feel the approval process is taking too long or something is off with your submission's format, you can contact <%= mail_to("ellipseslitmag@gmail.com", "Ellipses here") %>.</p>
  <% end %>
  <div class="inner-content hidden gallery-<%= @story.gallery_layout ? true : false %>">
    <p><%= @content.html_safe %></p>
    <% if @story.section.name == "art" && @story.images.any? %>
      <% @story.images.each do |image| %>
        <a href="<%= image.image.url %>" class="fancybox">
          <%= image_tag image.image.url, class: "story-img" %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
