@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900';

$theme-color: #143A4C;
$danger: #B33B4A;

body {
  background-color: $theme-color;
}

* {
  font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#header-outer {
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  display: flex;
  position: fixed;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  .logo-header {
    height: 30px;
    width: auto;
    margin-left: 10px;
  }

  .vertical-hr {
    background-color: $theme-color;
    opacity: 0.75;
    height: 60%;
    margin: 0 7.5px;
    width: 2px;
  }

  #header-name {
    color: transparentize($theme-color, 0.2);
    font-weight: 100;
    font-size: 30px;
    transition: color 0.25s;

    &:hover {
      color: #000;
    }
  }

  #header-links {
    height: 100%;
    width: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      color: transparentize($theme-color, 0.2);
      font-size: 25px;
      font-weight: 100;
      margin: 0 10px;
      position: relative;
      transition: color 0.25s;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: transparentize($theme-color, 0.2);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.25s, background-color 0.25s;
      }

      &:hover {
        color: $theme-color;

        &:before {
          transform: scaleX(1);
          background-color: $theme-color;
        }
      }

      &:active {

        &:before {
          transform: scaleX(1.2);
        }
      }
    }
  }
}

.flash {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  transform: translateY(10px);
  background-color: transparentize($theme-color, 0.9);
  border: 1px solid $theme-color;
  color: $theme-color;

  &.flash-danger {
    background-color: transparentize($danger, 0.9);
    border: 1px solid $danger;
    color: $danger;
  }
}

#everything-outer {
  height: auto;
  width: 100vw;
}

#non-story-content {
  img {
    margin-left: 0 !important;
  }
  p {
    margin: 1em;
    font-size: 1.2em;
  }
}

p > a {
  font-size: 1em !important;
  padding: 0 !important;
}

#content-outer {
  margin-top: 50px;
  width: 90vw;
  height: auto;
  min-height: calc(100vh - 50px);
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;

  h4 {
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    margin: 50px;
    margin-top: 0px;
  }

  .landing-logo {
    height: 150px;
    width: 150px;
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  #main-header, #large-header {
    margin-right: auto;
    margin-left: auto;
    color: $theme-color;
    text-align: left;
    margin-left: 3.125rem;
    font-size: 5em;
    font-weight: 500;
    padding-top: 50px;
  }

  #large-header {
    font-size: 75px;
  }

  #main-header + hr, #large-header + hr {
    background-color: $theme-color;
    outline: 0;
    border: 0;
    margin: 25px 0 25px -15em;
    height: 5px;
    width: 100%;
    & + h1 {
      margin-top: -10px;
    }
  }

  .landing-logo + hr {
    background-color: $theme-color;
    outline: 0;
    border: 0;
    margin: 25px auto 25px auto;
    height: 1px;
    width: 40%;
    & + h1 {
      margin-top: -10px;
    }
  }

  h2 {
    font-size: 3em;
    margin: 30px 0 10px 0;
    font-weight: 700;
  }

  .admin-box-outer {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.4em;
    background-color: transparentize($theme-color, 0.95);
    border: 1px solid transparentize($theme-color, 0.5);
    color: $theme-color;

    .button {
      top: 0.2em;
      padding: 5px;
    }

    h1 {
      font-size: 2em;
      span {
        font-weight: 100;
      }
    }

    p {
      font-size: 1.4em;
      span {
        font-weight: 900;
      }
    }
  }

  .story-header {
    padding-top: 50px;

    & + hr {
      background-color: $theme-color;
      outline: 0;
      border: 0;
      margin-left: -9rem;
      height: 5px;
      width: 120%;
    }

    h1 {
      color: $theme-color;
      font-size: 125px;
      text-align: left;
      font-weight: 900;
      margin-left: 0;
      opacity: 1;
      transition: transform 0.5s, opacity 0.5s;
      transition-delay: 0s;

      &.story-title {
        font-size: 75px;
      }
    }

    h3 {
      color: $theme-color;
      font-size: 24px;
      line-height: 50px;
      font-weight: 100;
      opacity: 0.5;
      text-align: left;
      margin-top: -10px;
      margin-left: 0;
      opacity: 1;
      position: relative;
      transition: transform 0.5s, opacity 0.5s;
      transition-delay: 0.15s;

      a {
        font-size: 0.75em;
        vertical-align: bottom;
        text-align: right;
        position: absolute;
        right: 0em;

        &:after {
          transform: scaleY(0);
        }

        &:hover {
          color: #000;

          &:after {
            opacity: 0.1;
            transform: scaleY(1);
          }
        }
      }

      .genre {
        opacity: 0.5;
        vertical-align: middle;
        font-size: 24px;
      }
    }

    h6 {
      font-size: 30px;
      font-weight: 100;
      text-align: center;
      opacity: 0.5;
      transition: transform 0.5s, opacity 0.5s;
      transition-delay: 0.3s;
    }

    h1.story-title, h3.story-title, h6.story-title {
      transform: translateY(0);

      &.hidden {
        transform: translateX(-75px);
        opacity: 0;
      }
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;

    &:empty {
      display: none;
    }
  }

  img {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 2em auto;

    &.thumbnail {
      height: 10vw;
      width: auto;
      margin: 0.6em;
      display: inline-block;
    }

    &.fancybox {
      cursor: pointer;
      border: 5px solid;
      border-color: transparent;
      transition: border-color 0.25s;

      &:hover {
        border-color: transparentize($theme-color, 0.75);
      }
    }
  }

  a.fancybox {
    &:after, &:before {
      content: none;
      display: none;
    }
  }

  .story-content-outer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .inner-content {
      opacity: 1;
      transition: opacity 0.5s;
      transition-delay: 100ms;

      &.hidden {
        opacity: 0;
      }
    }

    &.content-poetry {

      p {
        text-align: center;
        margin: 50px 0;
      }
    }

    &.content-short {

      p {
        text-indent: 50px;
        margin: 50px 0;
      }
    }

    &.content-art {
      p {
        text-indent: 50px;
        margin: 50px 0;
      }
    }
  }

  a:not(.button) {
    color: $theme-color;
    padding: 0 2.5px;
    font-size: 24px;
    position: relative;
    transition: color 0.25s;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      opacity: 0.25;
      background-color: $theme-color;
      transform: scaleY(0.025);
      transform-origin: bottom;
      transition: transform 0.25s, opacity 0.25s;
    }

    &:hover {
      color: #000;

      &:after {
        opacity: 0.1;
        transform: scaleY(1);
      }
    }

    &:active {

      &:after {
        opacity: 1;
      }
    }
  }

  .back-link {
    font-weight: 100;
    font-size: 2vw !important;
    position: absolute;
    left: -15%;
  }
}

#section-outer, #featured-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .admin-box-outer {
    width: 102%;
    margin: 0;
    padding: 0;

    .button {
      margin: 0.25em;
      top: 0;
      bottom: 0;
      width: auto;
      display: inline-block;
    }
  }

  .story-outer-div {
    height: auto;
    width: 25.1%;
    margin: 50px 0;
    padding: 0;

    &.admin-false {
      margin-bottom: 0px;
    }

    .story-outer-link {
      display: block;
      height: calc(100% - 25px);
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.25);

      &.admin-false {
        padding-bottom: 30px;
      }

      &:after {
        opacity: 0.25;
      }

      &:hover {
        &:after {
          opacity: 0.1;
        }
      }

      .story-prev {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 30px;
        margin-top: 0;
        background-color: transparent;

        &.section-art {
          padding-bottom: 0;
        }

        &.not-approved {
          opacity: 0.5;
        }

        h2 {
          margin: 0;
          font-size: 30px;

          &.prev-bottom {
            width: 100%;
            padding-bottom: 25px;
            margin-bottom: 20px;
            border-bottom: 2px solid $theme-color;
          }
        }
        h4 {
          margin: 0;
          font-size: 14px;
          font-weight: 900;
          text-align: left;

          .genre {
            font-weight: 100;

          }
        }
        h6 {
          margin: 0;
          font-size: 20px;
          font-weight: 100;
          margin-bottom: 50px;
        }

        .story-prev-img {
          width: 100%;
          height: auto;
          margin-top: 0;
          margin-bottom: 0;

          &.featured-img {
            margin-bottom: 2em;
          }
        }

        p {
          font-size: 16px;
          font-weight: 100;
          line-height: 1.4;
        }
      }
    }
  }
}

#section-outer {
  .section-header {
    text-align: center;
    width: 26%;
    font-size: 50px;
    font-weight: 900;

    h1 {
      font-size: 50px;
    }

    a {
      font-size: 25px;
      font-weight: 100;
      padding: 2.5px !important;
    }
  }
}

#featured-outer {

  .section-header {
    text-align: center;
    margin-bottom: 25px;

    h1 {
      font-size: 50px;
      font-weight: 900;
    }

    a {
      font-size: 25px;
      font-weight: 100;
      padding: 2.5px !important;
    }
  }

  .featured-section-outer {
    height: auto;
    width: 25.1%;
    margin: 0;
    padding: 0 !important;

    & > a {
      width: 100% !important;
      height: calc(100% - 150px) !important;
      display: block;

      .story-prev {
        height: auto;
        padding-bottom: 0 !important;
      }
    }

    & > .story-outer-link.admin-true > .story-prev {
      padding-bottom: 3em !important;
    }
  }
}

.button {
  color: $theme-color;
  background-color: transparent;
  outline: 0;
  border: 0;
  font-size: 24px;
  font-weight: 100;
  position: relative;
  width: auto;
  padding: 10px;
  border: 1px solid transparentize($theme-color, 0.5);
  cursor: pointer;
  text-align: left;
  transition: color 0.25s, background-color 0.25s, border 0.25s !important;

  &:before {
    content: "";
    background-color: transparent !important;
  }

  &:hover {
    color: black;
    background-color: transparentize($theme-color, 0.9);
    border: 1px solid $theme-color;
  }
}

.file-upload {
  top: 2.5em;
  z-index: 10;
  background-color: white;
  transition: background-color 0.25s;

  &:hover {
    background-color: #E8ECED;
  }
}

.file-button {
  height: 3em !important;
  padding: 1.3em 0 0 3.75em !important;
  font-size: 1.4em !important;
  border: 0 !important;

}

.form-outer {
  padding: 100px;
  margin-top: -100px;

  .field, .actions {
    display: block;
    margin: 50px 0;

    .tinymce {
      height: 40vh;
    }

    &.hidden {
      display: none;
    }

    label {
      font-weight: 900;
      font-size: 24px;
    }

    .sublabel {
      font-weight: 100;
      opacity: 0.75;
      margin-top: -10px !important;
      font-size: 1em !important;

      a {
        font-size: 1em !important;
      }
    }

    textarea {
      display: block;
      border-radius: 0;
      box-shadow: 0;
      margin: 10px 0;
      font-weight: 500;
      line-height: 1.4;
      padding: 5px;
      font-size: 18px;
      height: 500px;
      position: relative;
      width: 100%;
      border: 0;
      outline: 0;
      border: 2px solid transparentize($theme-color, 0.5);
      transition: border 0.25s;

      &.comments {
        height: 12.5em;
      }

      &:focus {
        border: 2px solid $theme-color;
      }
    }

    select {
      display: block;
      cursor: pointer;
      border-radius: 0;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      margin: 10px 0;
      height: 36px;
      font-weight: 100;
      line-height: 36px;
      font-size: 24px;
      vertical-align: middle;
      position: relative;
      width: auto;
      border: 0;
      outline: 0;
      border-bottom: 2px solid transparentize($theme-color, 0.5);
      transition: border-bottom 0.25s;

      &:focus, &:hover {
        border-bottom: 2px solid $theme-color;
      }
    }

    input:not(.button) {
      display: block;
      border-radius: 0;
      margin: 10px 0;
      height: 36px;
      font-weight: 100;
      line-height: 36px;
      font-size: 30px;
      vertical-align: middle;
      position: relative;
      width: 100%;
      border: 0;
      outline: 0;
      border-bottom: 2px solid transparentize($theme-color, 0.5);
      transition: border-bottom 0.25s;

      &:focus {
        border-bottom: 2px solid $theme-color;
      }
    }

    .pretty-checkbox {
      display: inline-block;
      cursor: pointer;
      height: 0.75em !important;
      width: 0.75em !important;
      background-color: white;
      background: 0;
      border-radius: 0;

      &:before {
        pointer-events: none;
        position: relative;
        display: block;
        width: 0.75em;
        height: 0.75em;
        content: "";
        background-color: #fff;
        background: #fff;
        background-image: 0;
      }

      &:after {
        pointer-events: none;
        position: relative;
        display: block;
        top: -0.75em;
        width: 0.75em;
        height: 0.75em;
        border: 1px solid $theme-color;
        content: "";
        background-color: #fff;
        background-image: 0;
        transition: background-color 0.25s;
      }

      &:checked:after {
        background-image: image_url('check.png');
        background-size: contain;
      }

      &:not(label):hover {
        &:after {
          background-color: transparentize($theme-color, 0.9);
        }
      }

      & + .sublabel {
        padding-top: 10px;
      }
    }
  }
}

aside {
  text-align: right;
  display: block;
  font-size: 18px;
  opacity: 0.5;
  font-weight: 900;
  padding: 10px;
}

#error_explanation {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background-color: transparentize($danger, 0.9);
  border: 1px solid $danger;
  color: $danger;

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }
}

.content {
  width: 75%;
  margin: 0 auto;
}

.users-table {
  border: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  thead {

    tr {
      height: 24px;
      padding: 20px;

      th {
        border-collapse: separate;
        border-spacing: 0 5px;
        font-size: 24px;
        padding: 20px;
        border-bottom: 2px solid $theme-color;
      }
    }
  }

  tbody {
    tr {
      padding: 20px;
      td {
        padding: 20px;
      }
    }
  }
}

#bottom-ellipses {
  display: block;
  text-align: center;
  font-weight: 100;
  font-size: 200px;
  margin: 50px;
  margin-top: 0;
  cursor: pointer;
}

#footer-outer {
  height: 100px;
  width: 100vw;
  z-index: 1;
  position: relative;

  #footer-links, #footer-info {
    width: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;

    a {
      display: block;
      width: auto;
      float: right;
      clear: right;
      color: transparentize(#fff, 0.2);
      font-size: 1.5em;
      font-weight: 100;
      margin: 0 10px;
      padding: 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        right: 0;
        background-color: transparentize(#fff, 0.2);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s, background-color 0.25s;
      }

      &:hover {
        color: #fff;

        &:before {
          transform: scaleX(1);
          background-color: #fff;
        }
      }

      &:active {

        &:before {
          transform: scaleX(1.2);
        }
      }
    }
  }

  #footer-info {
    position: absolute;
    left: 10px;
    bottom: 10px;

    p {
      font-size: 1.5em;
      color: transparentize(#fff, 0.2);
      font-weight: 100;
      margin-left: 10px;
    }

    a {
      float: left;
      clear: left;
      font-size: 1.2em;
    }
  }
}

#hamburger {
  display: none;
  position: absolute;
  height: 40px;
  width: 40px;
  right: 5px;
  top: 5px;
  cursor: pointer;

  div {
    position: relative;
    height: 100%;
    width: 100%;

    div {
      height: 10%;
      width: 10%;
      border-radius: 100px;
      position: absolute;
      background-color: $theme-color;
      transition: all 0.25s;
      transition-timing-function: cubic-bezier(0.645, 0.045, 0.230, 1.435);

      &.ham1 {
        top: 25%;
        left: 45%;
        transform-origin: left center;
      }
      &.ham2 {
        top: 50%;
        left: 45%;
      }
      &.ham3 {
        top: 75%;
        left: 45%;
        transform-origin: left center;
      }
    }
  }
  &.expanded {
    .ham1 {
      top: 25%;
      left: 25%;
      width: 70%;
      height: 5%;
      transform: rotate(45deg);
    }
    .ham2 {
      top: 50%;
      left: 45%;
      height: 5%;
      width: 5%;
    }
    .ham3 {
      top: 72.5%;
      left: 25%;
      width: 70%;
      height: 5%;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 780px) {

  #content-outer {
    width: 95vw;

    h4 {
      font-size: 8vw;
    }

    .story-header {
      & + hr {
        margin-left: -6em !important;
      }

      .back-link {
        left: -5%;
      }
      h1 {
        font-size: 9vw;

        &.story-title {
          font-size: 8vw;
        }
      }

      h3 {
        font-size: 4vw;
      }
    }

    .story-content-outer {
      width: 85%;
    }

    p {
      font-size: 3vw !important;
    }
  }


  #main-header {
    font-size: 10vw !important;
  }

  #main-header + hr, #large-header + hr {
    margin: 25px 0 25px -5em !important;
  }

  #section-outer {
    .story-outer-div {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin: 60px 0;
    }
  }

  #hamburger {
    display: block !important;
  }

  #header-name, .vertical-hr {
    display: none;
  }

  .logo-header {
    position: absolute;
    height: 40px !important;
    margin: 5px !important;
    top: 0;
  }

  #header-links {
    width: 100vw !important;
    margin-top: 50px;
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    pointer-events: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;

    &.expanded {
      transform: scaleY(1);
    }

    a {
      pointer-events: auto;
      margin: 0 !important;
      padding: 10px;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      width: 100vw;
      border-top: 1px solid #ddd;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: all 0.25s !important;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .featured-section-outer {
    width: 90% !important;
    margin: 2em 0 !important;
  }

  .form-outer {
    padding: 25px;
    margin-top: 0 !important;
  }

  #footer-outer {

    #footer-info {
      p {
        font-size: 1em;
      }
    }
  }
}
